<h1>What I'm up to</h1>
<p>I am from Estonia, but I currently live in Copenhagen, Denmark.</p>
<p>
  I work as a frontend developer for
  <a href="https://www.ocean.io/">Ocean.io</a>.
</p>
<p>
  I'm an active volunteer at
  <a href="https://www.efektiivnealtruism.org/">Effective Altruism Estonia</a>.
</p>
<p>
  I'm the website manager and developer at
  <a href="https://annetatargalt.ee/">Anneta Targalt</a>.
</p>
<p>
  Find out what other people are up to at
  <a href="https://nownownow.com/">nownownow.com</a>.
</p>
<p>This page is up to date as of 8th March 2025.</p>
