<!DOCTYPE html>
<html>
  <head>
    <title>Andri Soone - {{ path }}</title>
    <link type="text/css" rel="stylesheet" href="/style.css?v=1339" />
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />

    <meta name="description" content="The personal website of Andri Soone" />
    <meta name="keywords" content="Andri Soone, personal website, andri.io" />
    <meta name="author" content="Andri Soone" />

    <!-- Inter fonts https://rsms.me/inter/ -->
    <link type="text/css" rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <!-- https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1339" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1339" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1339" />
    <link rel="manifest" href="/site.webmanifest?v=1339" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=1339" color="#455a64" />
    <link rel="shortcut icon" href="/favicon.ico?v=1339" />
    <meta name="msapplication-TileColor" content="#455a64" />
    <meta name="theme-color" content="#455a64" />

    <script
      defer
      data-api="/api/event"
      data-domain="andri.io"
      src="/js/script.js"
    ></script>

    <!-- Fediverse verification -->
    <link rel="me" href="https://fosstodon.org/@andri" />
    <link rel="me" href="https://mastodon.ee/@andri" />
    <link rel="me" href="https://pixelfed.social/andri" />
  </head>
  <body>
    <main>
      <aside>
        <section id="profile">
          <div id="overlay">
            <div id="avatar"></div>
          </div>
          <div id="placeholder"></div>
        </section>
        <section id="social">
          <a
            href="https://gitlab.com/undree"
            target="_blank"
            rel="noopener noreferrer"
            class="tooltip"
            ><span id="gitlab" class="icon"></span
            ><span class="tooltiptext">GitLab</span></a
          >
          <a
            href="https://github.com/ndri"
            target="_blank"
            rel="noopener noreferrer"
            class="tooltip"
            ><span id="github" class="icon"></span
            ><span class="tooltiptext">GitHub</span></a
          >
          <a
            href="https://bsky.app/profile/andri.io"
            target="_blank"
            rel="noopener noreferrer"
            rel="me"
            class="tooltip"
            ><span id="bluesky" class="icon"></span
            ><span class="tooltiptext">Bluesky</span></a
          >
          <a
            href="https://manifold.markets/andri"
            target="_blank"
            rel="noopener noreferrer"
            class="tooltip"
            ><span id="manifold" class="icon"></span
            ><span class="tooltiptext">Manifold</span></a
          >
        </section>
        <nav>
          <a href="/">/</a>
          <a href="/projects">/projects</a>
          <a href="/now">/now</a>
          <a href="/uses">/uses</a>
        </nav>
      </aside>
      <section id="hello">{{ content }}</section>
    </main>
  </body>
</html>
