<h1>Hey! I'm Andri Soone.</h1>
<p>I'm a 28-year-old web dev from Estonia.</p>
<p>I try to do good well.</p>
<p>
  On this site you can find out which <a href="/projects">projects</a> I've worked on,
  <a href="/now">what I'm up to</a> right now and what <a href="/uses">tech I use</a>.
</p>
<p>Hover your cursor over my face to see something cool. Tap if you're on mobile.</p>
<p>Contact me at hello &lt;at&gt; andri.io</p>
