<h1>Projects</h1>
<p>
  I've worked on some neat projects throughout the years and these are some of my
  favourites:
</p>
<ul>
  <li>
    <a href="https://sidekickicons.andri.io">Sidekickicons</a>
    <span class="time">- October 2024</span>
  </li>
  <li>
    <a href="https://annetatargalt.ee">Anneta Targalt</a>
    <span class="time">- October 2023</span>
  </li>
  <li>
    <a href="https://quicksplain.com">Quicksplain</a>
    <span class="time">- July 2021</span>
  </li>
  <li>
    <a href="https://andri.io/3dttt">3D-Tic-Tac-Toe</a>
    <span class="time">- May 2021</span>
  </li>
  <li>
    <a href="https://andri.io/woer">Wheel of Existential Risk</a>
    <span class="time">- May 2021</span>
  </li>
  <li>
    <a href="https://andri.io/quickdrawbattle">QuickDrawBattle</a>
    <span class="time">- March 2021</span>
  </li>
  <li>
    <a href="https://andri.io/plane-and-simple">Plane and Simple</a>
    <span class="time">- January 2019</span>
  </li>
  <li>
    <a href="https://andri.io/emojicipher">Emoji cipher</a>
    <span class="time">- November 2016</span>
  </li>
</ul>
<p>
  You might find more on my <a href="https://gitlab.com/hookey">GitLab</a> and
  <a href="https://github.com/ndri">GitHub</a>.
</p>
