body,
html {
  font-family: Inter, sans-serif;
  font-weight: 300;
  margin: 0;
  color: #eceff1;
  background-color: #37474f;
  background-image: url("/wave.svg");
  min-height: 100vh;
}
body {
  display: flex;
}
main {
  width: 40rem;
  min-height: 24rem;
  padding: 3rem;
  border-radius: 3rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: #455a64;
  /*
    box-shadow: 0.1rem 0.1rem #263238, 0.2rem 0.2rem #263238, 0.3rem 0.3rem #263238, 0.4rem 0.4rem #263238, 0.5rem 0.5rem #263238, 0.6rem 0.6rem #263238;
*/
}

a {
  color: #00e3cd;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.time {
  font-size: 0.8em;
  font-style: italic;
}

aside {
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#placeholder {
  width: 10rem;
  height: 10rem;
}
#overlay {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
  transition: border-radius 0.3s ease, height 0.2s ease-in-out, width 0.2s ease-in-out,
    margin 0.3s ease;
}
#overlay:hover {
  border-radius: 3rem;
  width: 46rem;
  height: 30rem;
  margin: -3rem;
}
#avatar {
  background-image: url("/skierfe.jpg");
  background-size: 200%;
  background-position: 37% 53%;
  background-repeat: no-repeat;
  width: 46rem;
  height: 30rem;
  z-index: 1;
  transition: background-size 0.3s ease, background-position 0.3s ease,
    height 0.2s ease-in-out, width 0.2s ease-in-out;
}
#avatar:hover {
  background-size: 140%;
}
nav {
  display: flex;
  flex-direction: column;
  /* flex-grow: 2; */
  /* margin-top: 0.5rem; */
}
nav a {
  color: #eceff1;
  background-color: #37474f;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  transition: background-color 0.2s ease;
}
nav a:not(:last-child) {
  margin-bottom: 0.5rem;
}
nav a:hover,
nav a.active {
  background-color: #263238;
  text-decoration: none;
}
nav a.active {
  user-select: none;
}
#social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-top: 1rem; */
  /* height: 2.4rem; */
}
#social a {
  width: 2.4rem;
  height: 2.4rem;
}
#social a .icon {
  background-color: #eceff1;
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  mask-size: 69%;
  -webkit-mask-size: 69%;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  transition: background-color 0.2s ease;
}
#social a:hover .icon {
  background-color: #8f9ca2;
}
#gitlab {
  mask-image: url("gitlab.svg");
  -webkit-mask-image: url("gitlab.svg");
}
#github {
  mask-image: url("github.svg");
  -webkit-mask-image: url("github.svg");
}
#bluesky {
  mask-image: url("bluesky.svg");
  -webkit-mask-image: url("bluesky.svg");
}
#manifold {
  mask-image: url("manifold.svg");
  -webkit-mask-image: url("manifold.svg");
}

#hello {
  width: 27rem;
}
#hello p {
  line-height: 1.5em;
  text-align: left;
  margin: 0.75rem 0;
}
#hello p:last-child {
  margin-bottom: 0;
}
#hello ul {
  list-style: circle;
  line-height: 1.4em;
}
#hello h1 {
  margin: 0 0 0.75rem;
  font-weight: 600;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  width: 5rem;
  font-size: 0.85rem;
  background-color: #263238;
  color: #eceff1;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.3rem 0.2rem;
  position: absolute;
  z-index: 10;
  bottom: 115%;
  left: 50%;
  margin-left: -2.75rem;
  transition: visibility 0.2s linear, opacity 0.2s ease;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.5rem;
  border-width: 0.5rem;
  border-style: solid;
  border-color: #263238 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 48rem) {
  body,
  html {
    height: auto;
  }
  main {
    width: 100%;
    flex-direction: column;
    margin: 0;
    border-radius: 0;
    justify-content: flex-start;
    height: auto;
  }
  aside {
    width: 100%;
    margin-bottom: 2rem;
  }
  #placeholder {
    display: none;
  }
  #avatar {
    width: 10rem;
    height: 10rem;
    margin: auto;
    background-size: 920%;
    background-position: 21% 32%;
  }
  #avatar:hover {
    background-size: 200%;
    background-position: 21% 45%;
    width: 100%;
    height: 24rem;
  }
  #overlay {
    position: relative;
    margin: auto;
  }
  #overlay:hover {
    border-radius: 3rem;
    width: 100%;
    height: 24rem;
    margin: auto;
  }
  #social {
    justify-content: center;
    margin: 1rem 0 0 0;
  }
  #social a,
  #social a .icon {
    width: 3.2rem;
    height: 3.2rem;
  }
  .tooltip .tooltiptext {
    bottom: 105%;
  }
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 1rem 0 0 0;
    text-align: center;
  }
  nav a {
    width: 100%;
    margin: 0;
  }
  nav a:not(:last-child) {
    margin: 0 1rem 0 0;
  }
  #hello {
    width: 100%;
    padding: 1rem 0 0 0;
    border-top: 1px solid #37474f;
  }
}

@media screen and (max-width: 32rem) {
  main {
    padding: 1.5rem;
  }
  aside {
    margin-bottom: 1rem;
  }
  #overlay:hover,
  #avatar:hover {
    height: 16rem;
  }
  #hello p,
  #hello li,
  nav a {
    font-size: 0.8rem;
  }
  #hello h1 {
    font-size: 1.2rem;
  }
  nav a:not(:last-child) {
    margin-right: 0.3rem;
  }
  #hello ul {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 19rem) {
  main {
    padding: 1rem;
  }
  nav {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    padding: 1rem;
  }
  nav a:not(:last-child) {
    margin: 0 0 0.5rem;
  }
  #avatar,
  #overlay {
    width: 6rem;
    height: 6rem;
  }
  #overlay:hover,
  #avatar:hover {
    height: 12rem;
  }
  #social a,
  #social a .icon {
    width: 2.4rem;
    height: 2.4rem;
  }
  .tooltip .tooltiptext {
    font-size: 0.6rem;
  }
  #hello p,
  #hello li,
  nav a {
    font-size: 0.6rem;
  }
  #hello h1 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 12rem) {
  /* what are you doing with a device this narrow go away */
  /* there's no horizontal scrolling in my site */
  body {
    display: none;
  }
}
