<h1>Tech I use</h1>
<p>I use a 2023 Macbook Pro M3 Pro with macOS Sonoma.</p>
<p>
  My keyboard is a <a href="https://www.zsa.io/moonlander">ZSA Moonlander MkI</a> with
  Kailh Silvers stripped down to 36 keys. My mouse is a Logitech MX Master 3.
</p>
<p>
  I have Audio-Technica ATH-M50x headphones and PreSonus Eris E3.5 speakers that I
  connect with a Focusrite Scarlett 2i2.
</p>
<p>
  I use <a href="https://vscodium.com/">VSCodium</a> and
  <a href="https://vim.org/">vim</a> for development.
</p>
<p>
  Other tech I use: <a href="https://logseq.com/">Logseq</a>,
  <a href="https://apps.ankiweb.net/">Anki</a>, <a href="https://gimp.org/">GIMP</a>,
  <a href="https://inkscape.org/">Inkscape</a>, <a href="https://tuta.com/">Tuta</a>,
  <a href="https://plausible.io/">Plausible</a>.
</p>
<p>
  I use <a href="https://m.do.co/c/d2af08f8a509">DigitalOcean</a> for hosting (affiliate
  link).
</p>
<p>
  Find out what tech other people use at
  <a href="https://uses.tech/">uses.tech</a>.
</p>
